/* ------NAVBAR --------*/

nav{
    width: 100%;
    background-color: var(--color-black);
    padding:0.7rem 0 ;
    position: fixed;
    top: 0;
    z-index: 10;
    border: 1px solid transparent;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar{
    padding:5px;
    border: 1px solid transparent;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    display: none;
}

.search-bar{
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    margin-left:2rem ;
}

.search-bar input[type="search"]{
    background-color: transparent;
    width: 30%;
    margin-left:1rem ;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

nav .bottom-menu-nav{
    display: flex;
    border: 1px solid transparent;
    justify-content: space-around;
    display: none;
}

.bottom-menu-nav{
    text-decoration: none;
    color: var(--color-black);
}

nav .bottom-menu-nav .menu-nav{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    border: 1px solid transparent;
    height:45px;
   /* padding:17px 17px 17px 17px;*/
   width:70px;
   color: var(--color-black);
}

.bottom-menu-nav .menu-nav span{
font-size: 1.2em;
}

.bottom-menu-nav .menu-nav h3{
    font-size: 0.6em;
    font-family: 'lato',sans-serif;

}

nav .create{
     display: flex;
     align-items: center;
     gap: 2em;
}
